.parent {
    display: flex;
    height: 90vh;
    width: 90vw;
    margin: 20px;
  }
  
  .left {
    flex: 3;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; 
  }
  
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .pgn {
    flex: 1;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .webcam {
    flex: 1;
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  